APScheduler==3.10.4
certifi==2024.7.4
chardet==4.0.0
idna==3.7
influxdb==5.3.1
msgpack==1.0.2
pycoingecko==3.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==5.4.1
requests==2.32.3
six==1.15.0
tzlocal==5.2
urllib3==1.26.19
